<div class="tr-profile section-padding">
  <div class="container">
    <div class="row">
      <%= render 'shared/sidebar' %>

      <div class="col-sm-8 col-md-9">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active account-info">  
            <div class="section display-information">
              <div class="box-title">
                <div class="icon"><i class='fa fa-user'></i></div> 
                <span>Edit your account</span>
              </div>
              <%= render 'devise/registrations/editform' %>        
            </div><!-- /.display-information -->
          </div><!-- /.tab-pane -->

        </div>
      </div>
    </div>
  </div>
</div>




