#chart {
  height: 330px;
  margin: 30px 100px 0;
  display: block;
  
  #numbers {
    width: 50px; 
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    
    li {
      text-align: right;
      padding-right: 1em;
      list-style: none;
      height: 29px;
      border-bottom: 1px solid #444;
      position: relative;
      bottom: 30px;
      
      &:last-child {
        height: 30px;
      }
      
      span {
        color: #eee;
        position: absolute;
        bottom: 0;
        right: 10px;
      }
    }
  }
  
  #bars {
    display: inline-block;
    //width: 600px;
    height: 300px;
    padding: 0;
    margin: 0;

    li {
      display: table-cell;
      width: 100px;
      height: 300px;
      margin: 0;
      text-align: center;
      position: relative;
      
      .bar {
        display: block;
        width: 30px;
        margin-left: 15px;
        background: $blue;
        position: absolute;
        bottom: 0;
        height: 0;
        -webkit-transition: height 1s ease-in-out;
        -moz-transition: height 1s ease-in-out;
        -o-transition: height 1s ease-in-out;
        transition: height 1s ease-in-out;
        border-radius: 20px 20px 5px 5px;
        
        &:hover {
          background: $gray;
          
          
          &:before {
            color: white;
            content: attr(data-percentage) '%';
            position:relative;
            bottom: 20px;
          }
        }
      }

      span {
        color: $gray;
        width: 100%;
        position: absolute;
        bottom: -2em;
        left: 0;
        text-align: center;
      }
    }
  }
}