<div class="tr-banner section-before bg-image" style=" background-image: url(<%= image_path "backhp.jpg" %>);
 ">
    <div class="container">
      <div class="banner-content text-center">
        <h1>Find your next kitesurf trip</h1>
        <h2>We go over wind stats and user reviews to give you the best match</h2>
        <div class="banner-form">
          <form action="<%= places_path %>">
            <input type="text" class="form-control" placeholder="Job Keyword">
            <div class="dropdown tr-change-dropdown">
              <a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">Start Period</span><i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu tr-change">
                <li><a href="#">End Period</a></li>
                <li><a href="#">Location 1</a></li>
                <li><a href="#">Location 2</a></li>
                <li><a href="#">Location 3</a></li>
              </ul>
            </div><!-- /.category-change -->
            <button type="submit" class="btn btn-primary" value="Search">Search</button>
          </form>
        </div><!-- /.banner-form -->
      </div><!--/. banner-content -->
    </div><!-- /.container -->
</div><!-- /.tr-banner -->
