<div class="tr-found section">
  <div class="row">
    <div class="col-sm-4">
      <div class="found-image">
        <%= image_tag "500.jpg", class:'img-responsive' %>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="found-info">
        <h1>Opsss!</h1>
        <h2>You don't have any wishlist</h2>
        <p>Create your first wishlist right now</p>
        <a href="index.html" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">New Wishlist</a>
      </div>
    </div>
  </div><!-- /.row -->        
</div>