<div class="tr-steps bg-image section-padding section-before">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="step">
            <h1>01 Steps</h1>
            <h2>Give us your date </h2>
            <p>You just have to give us the period of your trip. Like that we know where is the best place for your trip ! </p>
          </div><!-- step -->
        </div>
        <div class="col-sm-4">
          <div class="step">
            <h1>02 Steps</h1>
            <h2>We look for the spot</h2>
            <p>After that we look all the statistic of wind and temperature all around the world </p>
          </div><!-- /.step -->
        </div>
        <div class="col-sm-4">
          <div class="step">
            <h1>03 Steps</h1>
            <h2>Enjoy your next destination</h2>
            <p>We render in a rating order the best spot to go kitesurfing in the world during your the period of your trip !  </p>
          </div><!-- /.step -->
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.tr-steps -->
