<div class="tr-steps bg-image section-padding section-before" style='background-image:url(<%= image_path 'glasses.jpg' %>);'>
    <div class="container">
      <div class='row'>
        <h3 class='title-sect'>Want to learn more?</h3>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="step">
            <h1><i class="wi wi-tornado" aria-hidden="true"></i></h1>
            <h2>Wind statistics</h2>
            <p>Based on windfinder statistics, we provide you an ultimate experience to find the best place to ride </p>
          </div><!-- step -->
        </div>
        <div class="col-sm-4">
          <div class="step">
            <h1><i class="fa fa-comments" aria-hidden="true"></i></h1>
            <h2>Chat Bot ????</h2>
            <p>Want to know where is the best place to ride around you? Ask him!</p>
          </div><!-- /.step -->
        </div>
        <div class="col-sm-4">
          <div class="step">
            <h1><i class="wi wi-sunrise" aria-hidden="true"></i></h1>
            <h2>Share your experience</h2>
            <p>We improve our app everyday with user reviews! Join the community and share your experiences!</p>
          </div><!-- /.step -->
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.tr-steps -->
