<div class="tr-steps bg-image section-padding section-before">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="step">
            <div class="step-image">
              <img src="images/icons/step1.png" alt="images" class="img-responsive">
            </div>
            <h1>01 Steps</h1>
            <h2>Register an account</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
          </div><!-- step -->
        </div>
        <div class="col-sm-4">
          <div class="step">
            <div class="step-image">
              <img src="images/icons/step2.png" alt="images" class="img-responsive">
            </div>
            <h1>02 Steps</h1>
            <h2>search your desired job</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
          </div><!-- /.step -->
        </div>
        <div class="col-sm-4">
          <div class="step">
            <div class="step-image">
              <img src="images/icons/step3.png" alt="images" class="img-responsive">
            </div>
            <h1>03 Steps</h1>
            <h2>Send your resume to employers</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
          </div><!-- /.step -->
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.tr-steps -->