<div class="tr-download-app bg-image section-padding section-before">
    <div class="container text-center">
      <h1>Download on App Store</h1>
      <div class="app-content">
        <div class="row">
          <div class="col-sm-4">
            <div class="download-app">
              <a href="#">
                <div class="download-image">
                  <img src="images/icons/app1.png" alt="Image" class="img-responsive">
                </div>
                <div class="download-info">
                  <span>available on</span>
                  <strong>Google Play</strong>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="download-app">
              <a href="#">
                <div class="download-image">
                  <img src="images/icons/app2.png" alt="Image" class="img-responsive">
                </div>
                <div class="download-info">
                  <span>available on</span>
                  <strong>App Store</strong>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="download-app">
              <a href="#">
                <div class="download-image">
                  <img src="images/icons/app3.png" alt="Image" class="img-responsive">
                </div>
                <div class="download-info">
                  <span>available on</span>
                  <strong>Windows Store</strong>
                </div>
              </a>
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.app-content -->
    </div><!-- /.contaioner -->
  </div><!--/. tr-download-app -->
