

<main class="main-padding">



<main class="main-padding">
  <div class="row">
    <div class="header1">SIZE</div><!--
  --><div class="swimlane1">
    </div>
  </div>


  <div class="row">
    <div class="header1">5 m</div><!--
  --><div class="swimlane1">
      <div class="bar1">
          <div class="toolbox">
            <div><strong>From:</strong> 26 knots</div>
        <div><strong>To:</strong> 36 knots</div>
      </div>
    </div>
    </div>
  </div>


  <div class="row">
    <div class="header2">7 m</div><!--
  --><div class="swimlane2">
      <div class="bar2">
          <div class="toolbox">
        <div><strong>From:</strong> 21 knots</div>
        <div><stron> To:</strong> 33 knots</div>
      </div>
    </div>
    </div>
  </div>


  <div class="row">
    <div class="header3">8 m</div><!--
  --><div class="swimlane3">
      <div class="bar3">
          <div class="toolbox">
        <div><strong>From:</strong> 18 knots</div>
        <div><strong>To:</strong> 30 knots</div>
      </div>
    </div>
    </div>
  </div>


    <div class="row">
    <div class="header4">9 m</div><!--
  --><div class="swimlane4">
      <div class="bar4">
            <div class="toolbox">
        <div><strong>From:</strong> 15 knots</div>
        <div><strong>Description:</strong> 27 knots</div>
      </div>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="header5">10 m</div><!--
  --><div class="swimlane5">
      <div class="bar5">
            <div class="toolbox">
        <div><strong>From:</strong> 12 knots</div>
        <div><strong>Description:</strong> 24 knots</div>
      </div>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="header6">12 m</div><!--
  --><div class="swimlane6">
      <div class="bar6">
            <div class="toolbox">
        <div><strong>From:</strong> 9 knots</div>
        <div><strong>Description:</strong> 21 knots</div>
      </div>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="header7">15 m</div><!--
  --><div class="swimlane7">
      <div class="bar7">
            <div class="toolbox">
        <div><strong>From:</strong> 9 knots</div>
        <div><strong>Description:</strong> 21 knots</div>
      </div>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="header8">17 m</div><!--
  --><div class="swimlane8">
      <div class="bar8">
            <div class="toolbox">
        <div><strong>From:</strong> 8 knots</div>
        <div><strong>Description:</strong> 18 knots</div>
      </div>
      </div>
    </div>
  </div>
</main>
