<p class="pad">
  Choosing the right kite size for the combination of wind conditions is a critical for safe and enjoyable kitesurfing.  Getting overpowered is no fun at all and you might get hurt.  If in doubt, use a smaller kite rather than larger kite.
</p>
<p>Follow the instructions in the table.</p>

<main class="main-padding">

  <div class="row">
    <div class="header9">SIZE</div><!--
  --><div class="swimlane9">
  <ul class="list-inline">
<li>0</li>
<li>5</li>
<li>10</li>
<li>15</li>
<li>20</li>
<li>25</li>
<li>30</li>
<li>35</li>
<li>40+ knots</li>

  </ul>
    </div>
  </div>


  <div class="row">
    <div class="header1">5 m</div><!--
  --><div class="swimlane1">
      <div class="bar1">
    </div>
    </div>
  </div>


  <div class="row">
    <div class="header2">7 m</div><!--
  --><div class="swimlane2">
      <div class="bar2">

    </div>
    </div>
  </div>


  <div class="row">
    <div class="header3">8 m</div><!--
  --><div class="swimlane3">
      <div class="bar3">

    </div>
    </div>
  </div>


    <div class="row">
    <div class="header4">9 m</div><!--
  --><div class="swimlane4">
      <div class="bar4">

      </div>
    </div>
  </div>

   <div class="row">
    <div class="header5">10 m</div><!--
  --><div class="swimlane5">
      <div class="bar5">

      </div>
    </div>
  </div>

   <div class="row">
    <div class="header6">12 m</div><!--
  --><div class="swimlane6">
      <div class="bar6">

      </div>
    </div>
  </div>

   <div class="row">
    <div class="header7">15 m</div><!--
  --><div class="swimlane7">
      <div class="bar7">

      </div>
    </div>
  </div>

</main>
