<div class="job-item remove-item">
  <div class="job-info">
    <div class="left-content">
      <div class="clearfix">
        <span class="tr-title">
          <a href="job-post.html"><%= order.product.title %></a>
        </span>
      </div>
      <span class="deadline"><%= order.updated_at %></span>                   
    </div>
    <div class="right-content">
      <span class=""><%= order.amount %>.00 €</span>
    </div>
  </div>
</div>