<div class="tr-profile section-padding">
  <div class="container">
    <div class="row">
      <%= render 'shared/sidebar' %>

      <div class="col-sm-8 col-md-9">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active account-info">
            
            <% if @orders.count > 0 %>
              <% @orders.each do |order| %>
                <%= render 'orders/orderline', order: order %>
              <% end %>
            <% else %>
              <%= render 'orders/nothing' %>
            <% end %>
          </div><!-- /.tab-pane -->

        </div>
      </div>
    </div>
  </div>
</div>