.tr-found.section {
  padding: 80px;
}

.found-info {
  color: $gray;
}

.found-info h1 {
  color: $blue;
  font-size: 110px;
  margin-bottom: 0;
}

.found-info h2 {
  color: #000;
  margin: 0 0 5px;
}

.found-info .btn.btn-primary {
  margin-top: 30px;
}