.job-info .tr-title a:hover {
    color: $blue;
}
.job-item .right-content span a:hover, .job-item .right-content span:hover, .role .right-content span:hover, .role .right-content span a:hover{
  color:$blue;
}

.tr-title {
  color: $gray;
}

.profile-tabs>li>a {
  color: $gray;
}