.tr-download-app {
  background-image: url(../images/bg/app-bg.jpg);
  position: relative;
  z-index: 1;
}

.tr-download-app.section-before:before {
  background-color: rgba(0, 141, 239, 0.8);
}

.tr-download-app h1 {
  font-size: 26px;
  color: #fff;
  text-align: center;
  margin: 15px 0 45px;
  text-transform: capitalize;
}

.tr-download-app h2 {
    color:#fff;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 50px;
}

.app-content {
  padding: 0 80px;
}

.download-app a {
  border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    min-height: 75px;
  color: #fff;
  font-size: 16px; 
  margin-bottom: 20px;
}

.download-image {
  display: inline-block;
  margin-right: 15px;
}

.download-image img {
  display: inline-block;
  margin-top: -20px;
}

.download-info {
  display: inline-block;
  text-align: left;
}

.download-app strong {
  font-size: 25px;
  display:block;
  font-weight: normal;
  line-height: 20px;
}

.download-app a:hover, 
.download-app a:focus {
  background-color: rgba(0, 0, 0, 0.2);
  color:#fff;
  border-radius: 5px;
}