<div class='container'>
  <div class='row' style='margin-top:20px;'>
    <div class="section-title">
      <h3>Discover our shop</h3>
    </div>
    <% @products.each do |product| %>
      <%= render 'shared/product', product: product %>
    <% end %>
  </div>
</div>